---
import Baselayout from "../../layouts/Baselayout.astro";
import Blogpost from "../../components/Blog-post-list.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");
  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag),
    );

    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<!-- http://localhost:4321/tags/setbacks -->
<Baselayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {
      posts.map((post) => (
        <Blogpost url={`/posts/${post.slug}/`} title={post.data.title} />
      ))
    }
  </ul>
</Baselayout>
