---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>About</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
    <h1>Bill's Incredible About Page</h1>
    <p class="author"></p>
    <p class="date"></p>
    <h2>All about Bill</h2>
    <p>Bill wrote this page.</p>
    <p>The content is sparse like Bill.</p>
    <p>Someday... not today... Bill will be interesting.</p>
  </body>
</html>
