---
import "../styles/global.css";
import Baselayout from "../layouts/Baselayout.astro";
import Blogpostlist from "../components/Blog-post-list.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Jibberish Musings";
---

<Baselayout pageTitle={pageTitle}>
  <p>Here you will find incredible things</p>
  <ul>
    {
      allPosts.map((post) => (
        <Blogpostlist url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</Baselayout>
